@font-face {
    font-family: 'iranyekanwebmedium';
    src: url(../fonts/iranyekanwebmedium.woff);
}

@font-face {
    font-family: 'iranyekanwebregular';
    src: url(../fonts/iranyekanwebregular.woff);
}

@font-face {
    font-family: 'YekanBakhBold.woff';
    src: url(../fonts/YekanBakhBold.woff);
}

@font-face {
    font-family: 'YekanBakhHeavy.woff';
    src: url(../fonts/YekanBakhHeavy.woff);
}

@font-face {
    font-family: 'YekanBakhMedium.woff';
    src: url(../fonts/YekanBakhMedium.woff);
}